-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: adf_narayana_hotel
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_logs`
--

DROP TABLE IF EXISTS `activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `action` varchar(50) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_action` (`action`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `activity_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_logs`
--

LOCK TABLES `activity_logs` WRITE;
/*!40000 ALTER TABLE `activity_logs` DISABLE KEYS */;
INSERT INTO `activity_logs` VALUES (1,1,'check_in','Check-in guest: diki - Room 104 - Booking #BK-20260131-1563','2026-01-31 09:46:51');
INSERT INTO `activity_logs` VALUES (2,1,'check_in','Check-in guest: diki - Room 104 - Booking #BK-20260131-2833','2026-02-01 06:35:27');
INSERT INTO `activity_logs` VALUES (3,1,'check_out','Check-out guest: diki - Room 104 - Booking #BK-20260131-2833','2026-02-02 06:59:48');
/*!40000 ALTER TABLE `activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `booking_payments`
--

DROP TABLE IF EXISTS `booking_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `booking_payments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `booking_id` int(11) NOT NULL,
  `payment_date` datetime NOT NULL DEFAULT current_timestamp(),
  `amount` decimal(12,2) NOT NULL,
  `payment_method` enum('cash','card','transfer','qris','ota') DEFAULT 'cash',
  `reference_number` varchar(100) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `processed_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `processed_by` (`processed_by`),
  KEY `idx_booking` (`booking_id`),
  KEY `idx_date` (`payment_date`),
  CONSTRAINT `booking_payments_ibfk_1` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE CASCADE,
  CONSTRAINT `booking_payments_ibfk_2` FOREIGN KEY (`processed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking_payments`
--

LOCK TABLES `booking_payments` WRITE;
/*!40000 ALTER TABLE `booking_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `booking_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bookings`
--

DROP TABLE IF EXISTS `bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bookings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `booking_code` varchar(20) NOT NULL,
  `guest_id` int(11) NOT NULL,
  `room_id` int(11) NOT NULL,
  `check_in_date` date NOT NULL,
  `check_out_date` date NOT NULL,
  `actual_checkin_time` datetime DEFAULT NULL COMMENT 'Waktu aktual check-in',
  `actual_checkout_time` datetime DEFAULT NULL COMMENT 'Waktu aktual check-out',
  `checked_in_by` int(11) DEFAULT NULL COMMENT 'User ID yang melakukan check-in',
  `checked_out_by` int(11) DEFAULT NULL COMMENT 'User ID yang melakukan check-out',
  `actual_check_in` datetime DEFAULT NULL,
  `actual_check_out` datetime DEFAULT NULL,
  `adults` int(11) NOT NULL DEFAULT 1,
  `children` int(11) NOT NULL DEFAULT 0,
  `room_price` decimal(12,2) NOT NULL,
  `total_nights` int(11) NOT NULL,
  `total_price` decimal(12,2) NOT NULL,
  `discount` decimal(12,2) DEFAULT 0.00,
  `final_price` decimal(12,2) NOT NULL,
  `status` enum('pending','confirmed','checked_in','checked_out','cancelled') DEFAULT 'pending',
  `payment_status` enum('unpaid','partial','paid') DEFAULT 'unpaid',
  `paid_amount` decimal(12,2) DEFAULT 0.00,
  `booking_source` enum('walk_in','phone','online','ota') DEFAULT 'walk_in',
  `special_request` text DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `booking_code` (`booking_code`),
  KEY `guest_id` (`guest_id`),
  KEY `room_id` (`room_id`),
  KEY `created_by` (`created_by`),
  KEY `idx_dates` (`check_in_date`,`check_out_date`),
  KEY `idx_status` (`status`),
  KEY `idx_booking_code` (`booking_code`),
  CONSTRAINT `bookings_ibfk_1` FOREIGN KEY (`guest_id`) REFERENCES `guests` (`id`),
  CONSTRAINT `bookings_ibfk_2` FOREIGN KEY (`room_id`) REFERENCES `rooms` (`id`),
  CONSTRAINT `bookings_ibfk_3` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookings`
--

LOCK TABLES `bookings` WRITE;
/*!40000 ALTER TABLE `bookings` DISABLE KEYS */;
/*!40000 ALTER TABLE `bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `breakfast_log`
--

DROP TABLE IF EXISTS `breakfast_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `breakfast_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `booking_id` int(11) NOT NULL,
  `guest_id` int(11) NOT NULL,
  `menu_id` int(11) DEFAULT NULL,
  `quantity` int(11) DEFAULT 1,
  `date` date NOT NULL,
  `status` enum('taken','not_taken','skipped') DEFAULT 'taken',
  `marked_by` int(11) NOT NULL,
  `marked_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `notes` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_breakfast` (`booking_id`,`date`),
  KEY `guest_id` (`guest_id`),
  KEY `marked_by` (`marked_by`),
  CONSTRAINT `breakfast_log_ibfk_1` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`),
  CONSTRAINT `breakfast_log_ibfk_2` FOREIGN KEY (`guest_id`) REFERENCES `guests` (`id`),
  CONSTRAINT `breakfast_log_ibfk_3` FOREIGN KEY (`marked_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `breakfast_log`
--

LOCK TABLES `breakfast_log` WRITE;
/*!40000 ALTER TABLE `breakfast_log` DISABLE KEYS */;
INSERT INTO `breakfast_log` VALUES (1,3,1,NULL,1,'2026-01-31',NULL,1,'2026-01-31 04:12:15','');
/*!40000 ALTER TABLE `breakfast_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `breakfast_menus`
--

DROP TABLE IF EXISTS `breakfast_menus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `breakfast_menus` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `menu_name` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `category` enum('western','indonesian','japanese','asian','drinks','beverages','extras') NOT NULL,
  `price` decimal(10,2) DEFAULT 0.00,
  `is_free` tinyint(1) DEFAULT 1 COMMENT 'TRUE = Free breakfast, FALSE = Extra/Paid',
  `is_available` tinyint(1) DEFAULT 1,
  `image_url` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_category` (`category`),
  KEY `idx_available` (`is_available`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `breakfast_menus`
--

LOCK TABLES `breakfast_menus` WRITE;
/*!40000 ALTER TABLE `breakfast_menus` DISABLE KEYS */;
INSERT INTO `breakfast_menus` VALUES (4,'Standart Breakfast','','drinks',0.00,1,1,NULL,'2026-01-31 05:28:05','2026-01-31 05:28:05');
INSERT INTO `breakfast_menus` VALUES (5,'orange Juice','','drinks',0.00,1,1,NULL,'2026-01-31 05:28:30','2026-01-31 05:28:30');
/*!40000 ALTER TABLE `breakfast_menus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `breakfast_orders`
--

DROP TABLE IF EXISTS `breakfast_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `breakfast_orders` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `booking_id` int(11) DEFAULT NULL,
  `guest_name` varchar(100) NOT NULL,
  `room_number` varchar(20) DEFAULT NULL,
  `total_pax` int(11) NOT NULL,
  `breakfast_time` time NOT NULL,
  `breakfast_date` date NOT NULL,
  `location` enum('restaurant','room_service') DEFAULT 'restaurant',
  `menu_items` text DEFAULT NULL COMMENT 'JSON array of menu items with quantities',
  `special_requests` text DEFAULT NULL,
  `total_price` decimal(10,2) DEFAULT 0.00,
  `order_status` enum('pending','preparing','served','completed','cancelled') DEFAULT 'pending',
  `created_by` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  KEY `idx_date` (`breakfast_date`),
  KEY `idx_status` (`order_status`),
  CONSTRAINT `breakfast_orders_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `breakfast_orders`
--

LOCK TABLES `breakfast_orders` WRITE;
/*!40000 ALTER TABLE `breakfast_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `breakfast_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `businesses`
--

DROP TABLE IF EXISTS `businesses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `businesses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `business_slug` varchar(100) DEFAULT NULL,
  `business_name` varchar(255) NOT NULL,
  `database_name` varchar(255) NOT NULL,
  `business_type` varchar(100) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `database_name` (`database_name`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `businesses`
--

LOCK TABLES `businesses` WRITE;
/*!40000 ALTER TABLE `businesses` DISABLE KEYS */;
INSERT INTO `businesses` VALUES (1,'bens-cafe','Ben\'s Cafe','adf_benscafe','restaurant',NULL,NULL,'2026-02-03 14:09:08');
INSERT INTO `businesses` VALUES (3,'narayana-hotel','Narayana Hotel','adf_narayana_hotel','hotel',NULL,NULL,'2026-02-03 14:09:08');
INSERT INTO `businesses` VALUES (4,'eat-meet','Eat & Meet Restaurant','adf_eat_meet','restaurant',NULL,NULL,'2026-02-03 14:34:12');
/*!40000 ALTER TABLE `businesses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cash_balance`
--

DROP TABLE IF EXISTS `cash_balance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cash_balance` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `balance_date` date NOT NULL,
  `opening_balance` decimal(15,2) DEFAULT 0.00,
  `total_income` decimal(15,2) DEFAULT 0.00,
  `total_expense` decimal(15,2) DEFAULT 0.00,
  `closing_balance` decimal(15,2) DEFAULT 0.00,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `balance_date` (`balance_date`),
  KEY `idx_date` (`balance_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cash_balance`
--

LOCK TABLES `cash_balance` WRITE;
/*!40000 ALTER TABLE `cash_balance` DISABLE KEYS */;
/*!40000 ALTER TABLE `cash_balance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cash_book`
--

DROP TABLE IF EXISTS `cash_book`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cash_book` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `branch_id` varchar(50) NOT NULL DEFAULT 'narayana-hotel',
  `transaction_date` date NOT NULL,
  `transaction_time` time NOT NULL,
  `division_id` int(11) NOT NULL,
  `category_id` int(11) NOT NULL,
  `transaction_type` enum('income','expense') NOT NULL,
  `amount` decimal(15,2) NOT NULL,
  `description` text DEFAULT NULL,
  `reference_no` varchar(50) DEFAULT NULL,
  `receipt_number` varchar(50) DEFAULT NULL,
  `payment_method` enum('cash','debit','transfer','qr','other') DEFAULT 'cash',
  `source_type` varchar(50) DEFAULT 'manual',
  `is_editable` tinyint(1) DEFAULT 1,
  `created_by` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_date` (`transaction_date`),
  KEY `idx_division` (`division_id`),
  KEY `idx_category` (`category_id`),
  KEY `idx_type` (`transaction_type`),
  KEY `idx_created_by` (`created_by`),
  CONSTRAINT `cash_book_ibfk_1` FOREIGN KEY (`division_id`) REFERENCES `divisions` (`id`),
  CONSTRAINT `cash_book_ibfk_2` FOREIGN KEY (`category_id`) REFERENCES `categories` (`id`),
  CONSTRAINT `cash_book_ibfk_3` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1194 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cash_book`
--

LOCK TABLES `cash_book` WRITE;
/*!40000 ALTER TABLE `cash_book` DISABLE KEYS */;
INSERT INTO `cash_book` VALUES (1193,'narayana-hotel','2026-02-07','05:34:00',11,37,'income',2500000.00,'',NULL,NULL,'cash','manual',1,1,'2026-02-06 22:35:10','2026-02-06 22:35:10');
/*!40000 ALTER TABLE `cash_book` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categories` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `branch_id` varchar(50) NOT NULL DEFAULT 'narayana-hotel',
  `division_id` int(11) NOT NULL,
  `category_name` varchar(100) NOT NULL,
  `category_type` enum('income','expense') NOT NULL,
  `description` text DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_division` (`division_id`),
  KEY `idx_type` (`category_type`),
  KEY `idx_active` (`is_active`),
  CONSTRAINT `categories_ibfk_1` FOREIGN KEY (`division_id`) REFERENCES `divisions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
INSERT INTO `categories` VALUES (1,'narayana-hotel',1,'Food Sales','income','Revenue from food sales',1,'2026-01-24 15:09:10','2026-01-24 15:09:10');
INSERT INTO `categories` VALUES (2,'narayana-hotel',1,'Beverage Sales','income','Revenue from beverage sales',1,'2026-01-24 15:09:10','2026-01-24 15:09:10');
INSERT INTO `categories` VALUES (3,'narayana-hotel',2,'Room Service Charges','income','Room service charges',1,'2026-01-24 15:09:10','2026-01-24 15:09:10');
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `divisions`
--

DROP TABLE IF EXISTS `divisions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `divisions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `branch_id` varchar(50) NOT NULL DEFAULT 'narayana-hotel',
  `division_code` varchar(20) NOT NULL,
  `division_name` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `division_type` enum('income','expense','both') DEFAULT 'both',
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `division_code` (`division_code`),
  KEY `idx_code` (`division_code`),
  KEY `idx_type` (`division_type`),
  KEY `idx_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `divisions`
--

LOCK TABLES `divisions` WRITE;
/*!40000 ALTER TABLE `divisions` DISABLE KEYS */;
INSERT INTO `divisions` VALUES (1,'narayana-hotel','RES','Restaurant','Restaurant & Dining Services','income',1,'2026-01-24 15:09:09','2026-01-24 15:09:09');
INSERT INTO `divisions` VALUES (2,'narayana-hotel','RS','Room Service','In-Room Dining Service','income',1,'2026-01-24 15:09:09','2026-01-24 15:09:09');
INSERT INTO `divisions` VALUES (3,'narayana-hotel','FO','Front Office','Reception & Guest Services','income',1,'2026-01-24 15:09:09','2026-01-24 15:09:09');
/*!40000 ALTER TABLE `divisions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expense_categories`
--

DROP TABLE IF EXISTS `expense_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `expense_categories` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expense_categories`
--

LOCK TABLES `expense_categories` WRITE;
/*!40000 ALTER TABLE `expense_categories` DISABLE KEYS */;
INSERT INTO `expense_categories` VALUES (1,'Material','Bahan baku dan material konstruksi','2026-01-25 12:04:27');
INSERT INTO `expense_categories` VALUES (2,'Jasa','Upah tenaga kerja dan jasa profesional','2026-01-25 12:04:27');
INSERT INTO `expense_categories` VALUES (3,'Lain-lain','Pengeluaran lain-lain','2026-01-25 12:04:27');
/*!40000 ALTER TABLE `expense_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `frontdesk_rooms`
--

DROP TABLE IF EXISTS `frontdesk_rooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `frontdesk_rooms` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `room_number` varchar(10) NOT NULL,
  `status` enum('available','occupied','maintenance') DEFAULT 'available',
  `capacity` int(11) DEFAULT 1,
  `price` decimal(10,2) DEFAULT 0.00,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `room_number` (`room_number`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `frontdesk_rooms`
--

LOCK TABLES `frontdesk_rooms` WRITE;
/*!40000 ALTER TABLE `frontdesk_rooms` DISABLE KEYS */;
INSERT INTO `frontdesk_rooms` VALUES (1,'101','occupied',2,500000.00,'2026-02-04 11:50:03');
INSERT INTO `frontdesk_rooms` VALUES (2,'102','available',2,500000.00,'2026-02-04 11:50:03');
INSERT INTO `frontdesk_rooms` VALUES (3,'103','available',2,500000.00,'2026-02-04 11:50:03');
/*!40000 ALTER TABLE `frontdesk_rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guests`
--

DROP TABLE IF EXISTS `guests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `guests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `guest_name` varchar(200) NOT NULL,
  `id_card_type` enum('ktp','passport','sim') DEFAULT 'ktp',
  `id_card_number` varchar(50) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `nationality` varchar(50) DEFAULT 'Indonesia',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_id_card` (`id_card_number`),
  KEY `idx_phone` (`phone`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guests`
--

LOCK TABLES `guests` WRITE;
/*!40000 ALTER TABLE `guests` DISABLE KEYS */;
/*!40000 ALTER TABLE `guests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `investor_balances`
--

DROP TABLE IF EXISTS `investor_balances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `investor_balances` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `investor_id` int(11) NOT NULL,
  `total_capital_idr` decimal(15,2) DEFAULT 0.00,
  `total_expenses_idr` decimal(15,2) DEFAULT 0.00,
  `remaining_balance_idr` decimal(15,2) DEFAULT 0.00,
  `last_updated` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_investor` (`investor_id`),
  CONSTRAINT `investor_balances_ibfk_1` FOREIGN KEY (`investor_id`) REFERENCES `investors` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `investor_balances`
--

LOCK TABLES `investor_balances` WRITE;
/*!40000 ALTER TABLE `investor_balances` DISABLE KEYS */;
INSERT INTO `investor_balances` VALUES (1,1,108500000.00,0.00,108500000.00,'2026-01-27 05:07:02');
INSERT INTO `investor_balances` VALUES (2,2,124000000.00,0.00,124000000.00,'2026-01-25 11:33:28');
INSERT INTO `investor_balances` VALUES (3,3,93000000.00,0.00,93000000.00,'2026-01-25 11:55:17');
/*!40000 ALTER TABLE `investor_balances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `investor_transactions`
--

DROP TABLE IF EXISTS `investor_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `investor_transactions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `investor_id` int(11) NOT NULL,
  `type` enum('capital','expense','return') NOT NULL,
  `amount` decimal(15,2) NOT NULL,
  `description` text DEFAULT NULL,
  `transaction_date` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `investor_id` (`investor_id`),
  CONSTRAINT `investor_transactions_ibfk_1` FOREIGN KEY (`investor_id`) REFERENCES `investors` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `investor_transactions`
--

LOCK TABLES `investor_transactions` WRITE;
/*!40000 ALTER TABLE `investor_transactions` DISABLE KEYS */;
INSERT INTO `investor_transactions` VALUES (1,1,'capital',15500000.00,'','2026-01-25','2026-01-25 11:32:37');
INSERT INTO `investor_transactions` VALUES (2,2,'capital',124000000.00,'','2026-01-25','2026-01-25 11:33:28');
INSERT INTO `investor_transactions` VALUES (3,1,'capital',77500000.00,'','2026-01-25','2026-01-25 11:52:09');
/*!40000 ALTER TABLE `investor_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `investors`
--

DROP TABLE IF EXISTS `investors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `investors` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `contact` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `total_capital` decimal(15,2) DEFAULT 0.00,
  `total_expenses` decimal(15,2) DEFAULT 0.00,
  `remaining_balance` decimal(15,2) DEFAULT 0.00,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `investors`
--

LOCK TABLES `investors` WRITE;
/*!40000 ALTER TABLE `investors` DISABLE KEYS */;
INSERT INTO `investors` VALUES (1,'Mr,Rob','+62 361 123456','admin@system.local',108500000.00,0.00,108500000.00,'','2026-01-25 11:23:04','2026-01-27 05:07:02');
INSERT INTO `investors` VALUES (2,'flora','081330316204','hungersales01@gmail.com',124000000.00,0.00,124000000.00,'','2026-01-25 11:33:09','2026-01-25 11:33:28');
INSERT INTO `investors` VALUES (3,'Narayana','081222228590','narayanahotelkarimunjawa@gmail.com',93000000.00,0.00,93000000.00,'','2026-01-25 11:54:34','2026-01-25 11:55:17');
/*!40000 ALTER TABLE `investors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `login_history`
--

DROP TABLE IF EXISTS `login_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `login_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `business_id` varchar(100) DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  `username` varchar(100) NOT NULL,
  `full_name` varchar(255) DEFAULT NULL,
  `role` varchar(50) DEFAULT NULL,
  `status` enum('success','failed') DEFAULT 'success',
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` varchar(500) DEFAULT NULL,
  `login_time` timestamp NOT NULL DEFAULT current_timestamp(),
  `logout_time` timestamp NULL DEFAULT NULL,
  `session_duration` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_login_time` (`login_time`),
  KEY `idx_business_id` (`business_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `login_history`
--

LOCK TABLES `login_history` WRITE;
/*!40000 ALTER TABLE `login_history` DISABLE KEYS */;
INSERT INTO `login_history` VALUES (1,'owner-monitoring',6,'owner','Busita','owner','success',NULL,NULL,'2026-02-03 11:34:57',NULL,NULL);
/*!40000 ALTER TABLE `login_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project_balances`
--

DROP TABLE IF EXISTS `project_balances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `project_balances` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `project_id` int(11) NOT NULL,
  `total_budget_idr` decimal(15,2) DEFAULT 0.00,
  `total_expenses_idr` decimal(15,2) DEFAULT 0.00,
  `remaining_balance_idr` decimal(15,2) DEFAULT 0.00,
  `last_updated` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_project` (`project_id`),
  CONSTRAINT `project_balances_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project_balances`
--

LOCK TABLES `project_balances` WRITE;
/*!40000 ALTER TABLE `project_balances` DISABLE KEYS */;
INSERT INTO `project_balances` VALUES (1,1,0.00,0.00,0.00,'2026-01-25 11:59:03');
/*!40000 ALTER TABLE `project_balances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `project_expenses`
--

DROP TABLE IF EXISTS `project_expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `project_expenses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `project_id` int(11) NOT NULL,
  `category` varchar(100) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `amount_usd` decimal(15,2) NOT NULL DEFAULT 0.00,
  `amount_idr` decimal(15,2) NOT NULL DEFAULT 0.00,
  `exchange_rate` decimal(10,2) DEFAULT 15500.00,
  `amount` decimal(15,2) NOT NULL,
  `expense_date` date DEFAULT NULL,
  `receipt_number` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `project_id` (`project_id`),
  CONSTRAINT `project_expenses_ibfk_1` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `project_expenses`
--

LOCK TABLES `project_expenses` WRITE;
/*!40000 ALTER TABLE `project_expenses` DISABLE KEYS */;
/*!40000 ALTER TABLE `project_expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `projects`
--

DROP TABLE IF EXISTS `projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `projects` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `budget` decimal(15,2) DEFAULT 0.00,
  `total_expenses` decimal(15,2) DEFAULT 0.00,
  `status` enum('planning','active','completed','cancelled') DEFAULT 'planning',
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `projects`
--

LOCK TABLES `projects` WRITE;
/*!40000 ALTER TABLE `projects` DISABLE KEYS */;
INSERT INTO `projects` VALUES (1,'Narayana Hotel G4','',500000000.00,10000000.00,'active','2025-12-25','2026-03-01','2026-01-25 11:59:03','2026-01-25 12:08:37');
/*!40000 ALTER TABLE `projects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_orders_detail`
--

DROP TABLE IF EXISTS `purchase_orders_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `purchase_orders_detail` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `po_header_id` int(11) NOT NULL,
  `line_number` int(11) NOT NULL,
  `item_name` varchar(255) NOT NULL,
  `item_description` text DEFAULT NULL,
  `unit_of_measure` varchar(50) DEFAULT 'pcs',
  `quantity` decimal(15,2) NOT NULL,
  `unit_price` decimal(15,2) NOT NULL,
  `subtotal` decimal(15,2) NOT NULL,
  `division_id` int(11) NOT NULL COMMENT 'Cost Center',
  `received_quantity` decimal(15,2) DEFAULT 0.00,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_po_header` (`po_header_id`),
  KEY `idx_division` (`division_id`),
  CONSTRAINT `purchase_orders_detail_ibfk_1` FOREIGN KEY (`po_header_id`) REFERENCES `purchase_orders_header` (`id`) ON DELETE CASCADE,
  CONSTRAINT `purchase_orders_detail_ibfk_2` FOREIGN KEY (`division_id`) REFERENCES `divisions` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_orders_detail`
--

LOCK TABLES `purchase_orders_detail` WRITE;
/*!40000 ALTER TABLE `purchase_orders_detail` DISABLE KEYS */;
INSERT INTO `purchase_orders_detail` VALUES (2,2,1,'telor','','kg',3.00,150000.00,450000.00,1,0.00,'','2026-01-26 13:11:28','2026-01-26 13:11:28');
INSERT INTO `purchase_orders_detail` VALUES (3,3,1,'telor','','pcs',1.00,50000.00,50000.00,1,0.00,'','2026-02-02 09:24:35','2026-02-02 09:24:35');
/*!40000 ALTER TABLE `purchase_orders_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_orders_header`
--

DROP TABLE IF EXISTS `purchase_orders_header`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `purchase_orders_header` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `po_number` varchar(50) NOT NULL,
  `supplier_id` int(11) NOT NULL,
  `po_date` date NOT NULL,
  `expected_delivery_date` date DEFAULT NULL,
  `status` enum('draft','submitted','approved','rejected','partially_received','completed','cancelled') DEFAULT 'draft',
  `total_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `discount_amount` decimal(15,2) DEFAULT 0.00,
  `tax_amount` decimal(15,2) DEFAULT 0.00,
  `grand_total` decimal(15,2) NOT NULL DEFAULT 0.00,
  `notes` text DEFAULT NULL,
  `approved_by` int(11) DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `created_by` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `po_number` (`po_number`),
  KEY `approved_by` (`approved_by`),
  KEY `created_by` (`created_by`),
  KEY `idx_po_date` (`po_date`),
  KEY `idx_status` (`status`),
  KEY `idx_supplier` (`supplier_id`),
  CONSTRAINT `purchase_orders_header_ibfk_1` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`),
  CONSTRAINT `purchase_orders_header_ibfk_2` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `purchase_orders_header_ibfk_3` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_orders_header`
--

LOCK TABLES `purchase_orders_header` WRITE;
/*!40000 ALTER TABLE `purchase_orders_header` DISABLE KEYS */;
INSERT INTO `purchase_orders_header` VALUES (2,'PO-202601-0001',1,'2026-01-26','2026-02-02','submitted',450000.00,0.00,0.00,450000.00,'',NULL,NULL,1,'2026-01-26 13:11:28','2026-01-26 13:11:39');
INSERT INTO `purchase_orders_header` VALUES (3,'PO-202602-0001',1,'2026-02-02','2026-02-09','submitted',50000.00,0.00,0.00,50000.00,'',NULL,NULL,1,'2026-02-02 09:24:35','2026-02-02 09:24:42');
/*!40000 ALTER TABLE `purchase_orders_header` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `room_types`
--

DROP TABLE IF EXISTS `room_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `room_types` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `type_name` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `base_price` decimal(12,2) NOT NULL DEFAULT 0.00,
  `max_occupancy` int(11) NOT NULL DEFAULT 2,
  `amenities` text DEFAULT NULL,
  `color_code` varchar(7) DEFAULT '#6366f1',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `room_types`
--

LOCK TABLES `room_types` WRITE;
/*!40000 ALTER TABLE `room_types` DISABLE KEYS */;
INSERT INTO `room_types` VALUES (2,'King ','Kamar deluxe dengan view bagus',1450000.00,2,'king','#88610c','2026-01-30 11:24:06','2026-01-30 17:41:14');
INSERT INTO `room_types` VALUES (5,'King ',NULL,1450000.00,4,'Ac,Wifi Tv','#6366f1','2026-01-30 15:01:09','2026-01-30 15:01:09');
INSERT INTO `room_types` VALUES (6,'Queen ',NULL,950000.00,3,'Tv,Ac,Watter Heater','#6366f1','2026-01-30 15:02:07','2026-01-30 15:02:07');
/*!40000 ALTER TABLE `room_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rooms`
--

DROP TABLE IF EXISTS `rooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rooms` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `room_number` varchar(20) NOT NULL,
  `room_type_id` int(11) NOT NULL,
  `floor_number` int(11) NOT NULL DEFAULT 1,
  `status` enum('available','occupied','cleaning','maintenance','blocked') DEFAULT 'available',
  `current_guest_id` int(11) DEFAULT NULL COMMENT 'ID guest yang sedang menginap',
  `notes` text DEFAULT NULL,
  `position_x` int(11) DEFAULT 0,
  `position_y` int(11) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `room_number` (`room_number`),
  KEY `room_type_id` (`room_type_id`),
  KEY `idx_status` (`status`),
  KEY `idx_floor` (`floor_number`),
  KEY `current_guest_id` (`current_guest_id`),
  CONSTRAINT `rooms_ibfk_1` FOREIGN KEY (`room_type_id`) REFERENCES `room_types` (`id`) ON DELETE CASCADE,
  CONSTRAINT `rooms_ibfk_2` FOREIGN KEY (`current_guest_id`) REFERENCES `guests` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rooms`
--

LOCK TABLES `rooms` WRITE;
/*!40000 ALTER TABLE `rooms` DISABLE KEYS */;
/*!40000 ALTER TABLE `rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sales_invoices_detail`
--

DROP TABLE IF EXISTS `sales_invoices_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sales_invoices_detail` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `invoice_header_id` int(11) NOT NULL,
  `item_name` varchar(255) NOT NULL,
  `item_description` text DEFAULT NULL,
  `category` varchar(100) DEFAULT NULL COMMENT 'rental_motor, laundry, tour, rental_mobil, etc',
  `quantity` decimal(10,2) NOT NULL DEFAULT 1.00,
  `unit_price` decimal(15,2) NOT NULL,
  `total_price` decimal(15,2) NOT NULL,
  `notes` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `invoice_header_id` (`invoice_header_id`),
  CONSTRAINT `sales_invoices_detail_ibfk_1` FOREIGN KEY (`invoice_header_id`) REFERENCES `sales_invoices_header` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sales_invoices_detail`
--

LOCK TABLES `sales_invoices_detail` WRITE;
/*!40000 ALTER TABLE `sales_invoices_detail` DISABLE KEYS */;
INSERT INTO `sales_invoices_detail` VALUES (2,2,'foood','','other',1.00,100000.00,100000.00,NULL);
INSERT INTO `sales_invoices_detail` VALUES (3,3,'foood','','other',2.00,500000.00,1000000.00,NULL);
INSERT INTO `sales_invoices_detail` VALUES (4,4,'Room Revenue - BK-20260202-5563','Room 102 2026-02-03 - 2026-02-04','Room Revenue',1.00,750000.00,750000.00,NULL);
/*!40000 ALTER TABLE `sales_invoices_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sales_invoices_header`
--

DROP TABLE IF EXISTS `sales_invoices_header`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sales_invoices_header` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `invoice_number` varchar(50) NOT NULL,
  `invoice_date` date NOT NULL,
  `customer_name` varchar(255) NOT NULL,
  `customer_phone` varchar(50) DEFAULT NULL,
  `customer_email` varchar(255) DEFAULT NULL,
  `customer_address` text DEFAULT NULL,
  `division_id` int(11) NOT NULL,
  `payment_method` enum('cash','debit','transfer','qr','other') DEFAULT 'cash',
  `payment_status` enum('unpaid','paid','partial') DEFAULT 'unpaid',
  `subtotal` decimal(15,2) NOT NULL DEFAULT 0.00,
  `discount_amount` decimal(15,2) DEFAULT 0.00,
  `tax_amount` decimal(15,2) DEFAULT 0.00,
  `total_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `paid_amount` decimal(15,2) DEFAULT 0.00,
  `notes` text DEFAULT NULL,
  `created_by` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `cash_book_id` int(11) DEFAULT NULL COMMENT 'Reference to cash_book entry',
  PRIMARY KEY (`id`),
  UNIQUE KEY `invoice_number` (`invoice_number`),
  KEY `division_id` (`division_id`),
  KEY `created_by` (`created_by`),
  KEY `invoice_date` (`invoice_date`),
  KEY `payment_status` (`payment_status`),
  KEY `cash_book_id` (`cash_book_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sales_invoices_header`
--

LOCK TABLES `sales_invoices_header` WRITE;
/*!40000 ALTER TABLE `sales_invoices_header` DISABLE KEYS */;
INSERT INTO `sales_invoices_header` VALUES (2,'INV-202601-0001','2026-01-25','HUNGER RESTO','081330316204','','Jl. Sunan Nyamplungan',1,'cash','paid',100000.00,0.00,0.00,100000.00,100000.00,'',1,'2026-01-24 17:06:14','2026-01-24 17:06:14',7);
INSERT INTO `sales_invoices_header` VALUES (3,'INV-202601-0002','2026-01-25','Narayana Karimunjawa','081222228590','narayanahotelkarimunjawa@gmail.com','4CJJ+HQ, Karimunjawa, Jepara Regency, Central Java',11,'cash','paid',1000000.00,0.00,0.00,1000000.00,1000000.00,'',1,'2026-01-24 23:38:27','2026-01-24 23:38:27',11);
INSERT INTO `sales_invoices_header` VALUES (4,'INV-202602-0001','2026-02-02','diki','+33 2035640799','',NULL,1,'cash','unpaid',750000.00,0.00,0.00,750000.00,0.00,'Auto invoice from check-in. Booking #BK-20260202-5563',1,'2026-02-02 04:17:56','2026-02-02 04:17:56',NULL);
/*!40000 ALTER TABLE `sales_invoices_header` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` longtext DEFAULT NULL,
  `setting_type` varchar(50) DEFAULT 'string',
  `description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`),
  KEY `idx_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
INSERT INTO `settings` VALUES (1,'login_background','login-bg.png','string','Background image for login page','2026-01-24 13:45:32','2026-01-31 02:24:57');
INSERT INTO `settings` VALUES (2,'developer_whatsapp','6281234567890','string','Developer WhatsApp number for support','2026-01-24 13:45:32','2026-01-31 02:25:11');
INSERT INTO `settings` VALUES (3,'company_logo_narayana-hotel','narayana-hotel_logo.png','file','Company logo for Narayana Hotel Jepara','2026-01-24 17:04:58','2026-01-24 17:04:58');
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suppliers`
--

DROP TABLE IF EXISTS `suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `suppliers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `supplier_code` varchar(50) NOT NULL,
  `supplier_name` varchar(255) NOT NULL,
  `contact_person` varchar(255) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `tax_number` varchar(100) DEFAULT NULL,
  `payment_terms` enum('cash','net_7','net_14','net_30','net_45','net_60') DEFAULT 'net_30',
  `is_active` tinyint(1) DEFAULT 1,
  `created_by` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `supplier_code` (`supplier_code`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `suppliers_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suppliers`
--

LOCK TABLES `suppliers` WRITE;
/*!40000 ALTER TABLE `suppliers` DISABLE KEYS */;
INSERT INTO `suppliers` VALUES (1,'BWK','BOWO','HUNGER RESTO','081330316204',NULL,NULL,NULL,'net_30',1,1,'2026-01-24 23:50:44','2026-01-24 23:50:44');
/*!40000 ALTER TABLE `suppliers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_permissions`
--

DROP TABLE IF EXISTS `user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_permissions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `permission` varchar(100) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_permission` (`user_id`,`permission`),
  CONSTRAINT `user_permissions_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=79 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_permissions`
--

LOCK TABLES `user_permissions` WRITE;
/*!40000 ALTER TABLE `user_permissions` DISABLE KEYS */;
INSERT INTO `user_permissions` VALUES (57,1,'dashboard','2026-01-25 06:44:26');
INSERT INTO `user_permissions` VALUES (58,1,'cashbook','2026-01-25 06:44:26');
INSERT INTO `user_permissions` VALUES (59,1,'divisions','2026-01-25 06:44:26');
/*!40000 ALTER TABLE `user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_preferences`
--

DROP TABLE IF EXISTS `user_preferences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_preferences` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `branch_id` varchar(50) NOT NULL DEFAULT 'narayana-hotel',
  `theme` varchar(20) DEFAULT 'dark',
  `language` varchar(10) DEFAULT 'id',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_user_branch` (`user_id`,`branch_id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_branch` (`branch_id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_preferences`
--

LOCK TABLES `user_preferences` WRITE;
/*!40000 ALTER TABLE `user_preferences` DISABLE KEYS */;
INSERT INTO `user_preferences` VALUES (1,1,'narayana-hotel','light','en','2026-01-27 04:58:21','2026-02-04 05:33:32');
/*!40000 ALTER TABLE `user_preferences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `role` enum('admin','manager','cashier','accountant','staff','owner') DEFAULT 'staff',
  `business_access` varchar(255) DEFAULT 'all',
  `phone` varchar(20) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `is_trial` tinyint(1) DEFAULT 0,
  `trial_expires_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `idx_username` (`username`),
  KEY `idx_role` (`role`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','$2y$10$HLZn/up8wrG9YGmICvu.9ufXuRPPEYi9Pjf82nKER2dpgGbIhH3rS','Administrator','admin@system.local','admin',NULL,NULL,1,'2026-01-24 16:33:10','2026-02-06 09:23:47',0,NULL);
INSERT INTO `users` VALUES (4,'sandra','$2y$10$UOfT20yRUcJb9ur8WH3EdOhApLW0yg6ZXkUDG6ZdaFI2LpOKU2i2O','Sandra Octavia','hungersales01@gmail.com','staff','[3]',NULL,1,'2026-02-03 08:40:43','2026-02-03 14:10:06',0,NULL);
INSERT INTO `users` VALUES (6,'owner','$2y$10$X8amk9iOR5y6cWO9rlM4T.agyP/pRWZoJvLmN8hinxmJfgeA9VJTG','Busita','info@narayanahotel.com','owner','all',NULL,1,'2026-02-03 10:57:38','2026-02-05 03:10:31',0,NULL);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `view_daily_summary`
--

DROP TABLE IF EXISTS `view_daily_summary`;
/*!50001 DROP VIEW IF EXISTS `view_daily_summary`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `view_daily_summary` AS SELECT
 1 AS `transaction_date`,
  1 AS `division_name`,
  1 AS `category_name`,
  1 AS `transaction_type`,
  1 AS `total_amount`,
  1 AS `transaction_count` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `view_division_summary`
--

DROP TABLE IF EXISTS `view_division_summary`;
/*!50001 DROP VIEW IF EXISTS `view_division_summary`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `view_division_summary` AS SELECT
 1 AS `id`,
  1 AS `division_code`,
  1 AS `division_name`,
  1 AS `total_income`,
  1 AS `total_expense`,
  1 AS `net_profit` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `view_daily_summary`
--

/*!50001 DROP VIEW IF EXISTS `view_daily_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_daily_summary` AS select `cb`.`transaction_date` AS `transaction_date`,`d`.`division_name` AS `division_name`,`c`.`category_name` AS `category_name`,`cb`.`transaction_type` AS `transaction_type`,sum(`cb`.`amount`) AS `total_amount`,count(0) AS `transaction_count` from ((`cash_book` `cb` join `divisions` `d` on(`cb`.`division_id` = `d`.`id`)) join `categories` `c` on(`cb`.`category_id` = `c`.`id`)) group by `cb`.`transaction_date`,`d`.`division_name`,`c`.`category_name`,`cb`.`transaction_type` order by `cb`.`transaction_date` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_division_summary`
--

/*!50001 DROP VIEW IF EXISTS `view_division_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_division_summary` AS select `d`.`id` AS `id`,`d`.`division_code` AS `division_code`,`d`.`division_name` AS `division_name`,coalesce(sum(case when `cb`.`transaction_type` = 'income' then `cb`.`amount` else 0 end),0) AS `total_income`,coalesce(sum(case when `cb`.`transaction_type` = 'expense' then `cb`.`amount` else 0 end),0) AS `total_expense`,coalesce(sum(case when `cb`.`transaction_type` = 'income' then `cb`.`amount` else 0 end),0) - coalesce(sum(case when `cb`.`transaction_type` = 'expense' then `cb`.`amount` else 0 end),0) AS `net_profit` from (`divisions` `d` left join `cash_book` `cb` on(`d`.`id` = `cb`.`division_id`)) group by `d`.`id`,`d`.`division_code`,`d`.`division_name` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-07  6:39:26
